/* Tablet - 768x1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  .preciso-ajuda {
    padding-top: 90px;
    overflow-x: hidden;
  }
  
  .container-wide {
    width: calc(100% - 80px);
    max-width: 700px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    left: auto;
    transform: none;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .form-content {
    padding: 40px 0 100px;
    overflow-x: hidden;
  }
}
